@import "./main.scss";

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.cart-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 20%;
  min-width: 300px;
  height: 100%;
  background-color: rgb(241, 245, 248);
  overflow: scroll;
  transform: translateX(100%);
  transition: all 0.5s ease;
  @media (max-width: $responsive4) {
    width: 100%;
  }
  &_head {
    margin-bottom: 20px;
  }
  .close-cart {
    font-size: 40px;
    font-weight: bold;
    color: rgb(97, 125, 152);
    margin-left: 15px;
    cursor: pointer;
  }
  .bag-text {
    text-align: center;
    font-size: 30px;
    font-family: $custom-font-family;
    color: rgb(93, 102, 120);
  }
  &_cart-items {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    margin: 15px;
  }
  .cart-img-item {
    width: 75px;
    height: 50px;
    border: none;
    border-radius: 3px;
  }
  .name-item {
    font-size: 20px;
  }
  .price-item {
    font-size: 16px;
    color: $font-color;
  }
  .remove-item {
    font-size: 16px;
    color: $font-color;
    cursor: pointer;
  }
  .quantity-controller {
    font-size: 16px;
    text-align: center;
    .add,
    .substract {
      font-size: 12px;
      color: $color-theme;
      cursor: pointer;
    }
  }
  &_foot {
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .total-price {
    font-family: $custom-font-family;
    font-size: 26px;
  }
  .checkout {
    padding: 5px 80px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    background-color: $color-theme;
    color: white;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: rgba(186, 94, 44, 0.767);
    }
  }
}
.show {
  transform: translateX(0%);
}
.overlay-show {
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 100;
}
