* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$custom-font-family: "Lobster", sans-serif;
$color-theme: rgb(186, 93, 44);
$font-color: rgb(96, 124, 152);
$title-color: rgb(9, 34, 63);
$header-color: rgb(241, 245, 248);
$item-name-color: rgb(157, 174, 191);

$responsive1: 1440px;
$responsive2: 1024px;
$responsive3: 768px;
$responsive4: 650px;
@keyframes item-appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
